<?xml version="1.0" encoding="UTF-8"?>
<struct>
    <configuration>E:\bense\OneDrive\Documents\Academic\Projects\016 DAMVi App\Code\DAMVi_App\\config.xml</configuration>
    <directory>C:\Users\bense\Drexel University\Na Research Lab - 022 Dementia and Mobility\022 Dementia and Mobility\Data</directory>
    <database>C:\Users\bense\Drexel University\Na Research Lab - 022 Dementia and Mobility\022 Dementia and Mobility</database>
    <options>
        <filesload></filesload>
        <filesprocess></filesprocess>
        <filesanalysis></filesanalysis>
        <filesreview></filesreview>
        <filetypes>
            <AllFiles>AllFiles</AllFiles>
            <agd>Actigraph</agd>
            <csv>Axivity</csv>
            <csv>BertecCDP</csv>
            <csv>DAMVi</csv>
            <csv>Delsys</csv>
            <csv>NHATSAcceleration</csv>
            <csv>Actigraph</csv>
            <csv>Basic</csv>
            <gt3x>Actigraph</gt3x>
            <h5>APDM0Meta</h5>
            <h5>APDM1Raw</h5>
            <h5>APDM2Results</h5>
            <h5>APDM3Qua</h5>
            <m>MATLAB</m>
            <mat>DAMVi</mat>
            <mat>OpenCap</mat>
            <mat>QTM</mat>
            <mlapp>MATLAB</mlapp>
            <mot>OpenSim</mot>
            <png>WIN</png>
            <qtm>QTM</qtm>
            <txt>V3D</txt>
            <xlsx>Medoc</xlsx>
        </filetypes>
        <process>APDM</process>
        <process>Eventing</process>
        <process>Segment</process>
        <process>Treatment</process>
        <treatment>Add signals</treatment>
        <treatment>Low-pass filter</treatment>
        <treatment>Resample</treatment>
        <treatment>Residual analysis</treatment>
        <analysis>Actigraph</analysis>
        <analysis>ContinuousSignalMetrics</analysis>
        <analysis>COP</analysis>
        <analysis>CorrelationDimension</analysis>
        <analysis>CrossSignalMetrics</analysis>
        <analysis>Delsys</analysis>
        <analysis>DFA</analysis>
        <analysis>Entropy</analysis>
        <analysis>FNN</analysis>
        <analysis>LyE</analysis>
        <analysis>RQA</analysis>
        <review>General</review>
        <review>QC</review>
        <figure>1D</figure>
        <figure>2D</figure>
        <figure>3D</figure>
        <figure>TimeLag</figure>
        <figure>FNN</figure>
        <figure>RQA</figure>
        <figure>Histogram</figure>
        <figure>Image</figure>
    </options>
    <export>General</export>
    <export>BU Caltesting</export>
    <export>Tables</export>
</struct>
