<?xml version="1.0" encoding="UTF-8"?>
<struct>
    <directory>C:\Users\QTM\OneDrive - Boston University\BU\Projects\015 COP Variability\Data</directory>
    <database>C:\Users\QTM\OneDrive - Boston University\BU\Projects\015 COP Variability\Data</database>
    <options>
        <files>
            <h5>APDM</h5>
            <txt>V3D</txt>
            <mat>BAR</mat>
        </files>
    </options>
    <treatment>General Treatment</treatment>
    <treatment>process_Treatment</treatment>
    <treatment>Segment</treatment>
    <treatment>process_Segment</treatment>
    <treatment_general>Low-pass Filter</treatment_general>
    <treatment_general>process_Treatment_LowPass</treatment_general>
    <treatment_general>Resample</treatment_general>
    <treatment_general>process_Treatment_Resample</treatment_general>
    <segmentation_general>Threshold</segmentation_general>
    <segmentation_general>process_Segment_Threshold</segmentation_general>
    <analysis>Time Lag</analysis>
    <analysis>analysis_TimeLag</analysis>
    <analysis>FNN</analysis>
    <analysis>analysis_FNN</analysis>
    <analysis>RQA</analysis>
    <analysis>analysis_RQA</analysis>
    <review>Time Lag</review>
    <review>review_TimeLag</review>
    <review>FNN</review>
    <review>review_FNN</review>
    <review>RQA</review>
    <review>review_RQA</review>
    <export>General</export>
    <export>BU Caltesting</export>
</struct>
