<?xml version="1.0" encoding="UTF-8"?>
<struct>
    <directory></directory>
    <directory>C:\Users\bsender\OneDrive - Boston University\BU\Projects\001 BAR\Data\txtExample</directory>
    <database>C:\Users\bsender\OneDrive - Boston University\BU\Projects\001 BAR</database>
    <options>
        <filesload>C:\Users\bsender\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App\Load</filesload>
        <filesload>C:\Users\bsender\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App Beta\Load</filesload>
        <filesload>C:\Users\bense\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App\Load</filesload>
        <filesload>C:\Users\bense\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App Beta\Load</filesload>
        <filesprocess>C:\Users\bsender\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App\Process</filesprocess>
        <filesprocess>C:\Users\bsender\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App Beta\Process</filesprocess>
        <filesprocess>C:\Users\bense\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App\Process</filesprocess>
        <filesprocess>C:\Users\bense\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App Beta\Process</filesprocess>
        <filesanalysis>C:\Users\bsender\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App\Analysis</filesanalysis>
        <filesanalysis>C:\Users\bsender\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App Beta\Analysis</filesanalysis>
        <filesanalysis>C:\Users\bense\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App\Analysis</filesanalysis>
        <filesanalysis>C:\Users\bense\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App Beta\Analysis</filesanalysis>
        <filesreview>C:\Users\bsender\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App\Review</filesreview>
        <filesreview>C:\Users\bsender\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App Beta\Review</filesreview>
        <filesreview>C:\Users\bense\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App\Review</filesreview>
        <filesreview>C:\Users\bense\OneDrive - Boston University\BU\Projects\001 BAR\Code\BAR_App Beta\Review</filesreview>
        <segment>Custom</segment>
        <segment>TurnsAPDM</segment>
        <segment>TurnsIMU</segment>
        <segment>WESENSOpal3</segment>
        <figure>1D</figure>
        <figure>2D</figure>
        <figure>3D</figure>
        <figure>FNN</figure>
        <figure>Histogram</figure>
        <figure>RQA</figure>
        <figure>TimeLag</figure>
        <figure>Image</figure>
        <filetypes>
            <agd>Actigraph</agd>
            <csv>BAR</csv>
            <csv>Delsys</csv>
            <csv>Actigraph</csv>
            <csv>Pfizer01</csv>
            <csv>Pfizer02</csv>
            <gt3x>Actigraph</gt3x>
            <h5>APDM0Meta</h5>
            <h5>APDM1Raw</h5>
            <h5>APDM1RawLumbar</h5>
            <h5>APDM2Results</h5>
            <h5>APDM3Qua</h5>
            <h5>APDM3QuaLumbar</h5>
            <m>MATLAB</m>
            <mat>BAR</mat>
            <mat>QTM</mat>
            <mlapp>MATLAB</mlapp>
            <png>WIN</png>
            <qtm>QTM</qtm>
            <txt>Example</txt>
            <txt>V3D</txt>
            <xlsx>Medoc</xlsx>
        </filetypes>
        <process>APDM</process>
        <process>Groupings</process>
        <process>Merge</process>
        <process>Segment</process>
        <process>Treatment</process>
        <analysis>Custom</analysis>
        <analysis>CustomApp</analysis>
        <analysis>FNN</analysis>
        <analysis>MATLABDependencies</analysis>
        <analysis>QST</analysis>
        <analysis>QSTTraining</analysis>
        <analysis>RQA</analysis>
        <analysis>TimeLag</analysis>
        <analysis>01</analysis>
        <analysis>APDM</analysis>
        <analysis>APDMResultsFigures</analysis>
        <analysis>DelsysApdmSynch</analysis>
        <analysis>MocapApdmAlignment</analysis>
        <analysis>V3DAPDMAlignment</analysis>
        <analysis>V3DAPDMAlignment2</analysis>
        <analysis>V3DAPDMAlignment3</analysis>
        <review>General</review>
        <review>APDMTurns</review>
        <review>APDMTurns2</review>
        <treatment>LowPass</treatment>
        <treatment>Resample</treatment>
    </options>
    <treatment>General Treatment</treatment>
    <treatment>process_Treatment</treatment>
    <treatment>Segment</treatment>
    <treatment>process_Segment</treatment>
    <treatment_general>Low-pass Filter</treatment_general>
    <treatment_general>process_Treatment_LowPass</treatment_general>
    <treatment_general>Resample</treatment_general>
    <treatment_general>process_Treatment_Resample</treatment_general>
    <figures>1D</figures>
    <figures></figures>
    <figures>2D</figures>
    <figures></figures>
    <figures>3D</figures>
    <figures></figures>
    <figures>MD</figures>
    <figures>figure_MD</figures>
    <figures>Image</figures>
    <figures></figures>
    <export>General</export>
    <export>BU Caltesting</export>
    <export>Tables</export>
</struct>
